<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FASHION OKAN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/style.css}">
    <link rel="stylesheet" th:href="@{../css/bottom-menu.css}">
    <script th:src="@{/js/bottom-menu.js}" defer></script>
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- 共通ヘッダーの読み込み -->
    <div th:replace="~{fragments/header :: header}"></div>

    <main class="flex-fill">
        <div class="container mt-4">

            <!-- タイトル -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="mb-0">プリセット</h2>
            </div>

            <a th:href="@{/tags-setting}">
                <p>プリセット一覧</p>
            </a>
            <a th:href="@{/preset-entry-step1}">
                <p>プリセット登録</p>
            </a>
        </div>
    </main>

    <!-- メニューの読み込み -->
    <div th:replace="~{fragments/bottom-menu :: bottom-menu}"></div>
</body>

</html>