<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>

<body>
    <div th:fragment="header">
        <header class="bg-dark text-white py-2 position-relative">
            <div class="container text-center">
                <a th:href="@{/all-items}" class="text-white text-decoration-none">
                    <h1 class="mb-0 fs-3">FASHION OKAN</h1>
                </a>
            </div>
        </header>
    </div>
</body>

</html>