<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
    <div th:fragment="header">
        <header class="bg-dark text-white py-2 position-relative">
            <div class="container text-center">
                <a th:href="@{/all-items}" class="text-white text-decoration-none">
                    <h1 class="mb-0 fs-3">FASHION OKAN</h1>
                </a>
            </div>
            <!-- <a th:href="@{/item-upload}"
                class="position-absolute top-50 end-0 translate-middle-y me-3 text-white fw-bold fs-4 text-decoration-none">＋</a> -->
        </header>
    </div>
</body>

</html>