.bottom-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    z-index: 1000;
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); */
}

.menu-icon {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
}

/* .menu-center {
    width: 60px;
    height: 60px;
    background-color: #3b9aff;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-15%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
} */
