<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myapp.fashion.mapper.ItemMapper">

    <resultMap id="itemResultMap" type="myapp.fashion.entity.ItemEntity">
        <id property="itemId" column="itemId" />
        <result property="userId" column="userId" />
        <result property="s3Url" column="s3Url" />
        <result property="itemName" column="itemName" />
        <result property="date" column="date" />
        <result property="description" column="description" />
        <result property="favorite" column="favorite" />
    </resultMap>

    <!-- 全アイテムを取得 -->
    <select id="findAllItems" resultMap="itemResultMap">
        SELECT 
            userId,
            itemId,
            s3Url,
            itemName,
            date,
            description,
            favorite
        FROM 
            item
    </select>

    <!-- 指定されたIDのアイテムを取得 -->
    <select id="findItemById" resultMap="itemResultMap">
        SELECT 
            userId,
            itemId,
            s3Url,
            itemName,
            date,
            description,
            favorite
        FROM 
            item
        WHERE 
            itemId = #{itemId}
    </select>

    <!-- 指定されたIDのアイテム情報を変更 -->
    <update id="updateItem">
        UPDATE 
            item
        SET 
            itemName = #{itemName},
            date = #{date},
            description = #{description},
            favorite = #{favorite}
        WHERE 
            itemId = #{itemId}
    </update>

    <!-- アイテムを登録 -->
    <insert id="insertItem" useGeneratedKeys="true" keyProperty="itemId">
        INSERT INTO 
            item (
                userId,
                s3Url,
                itemName,
                date,
                description,
                favorite
            )
        VALUES (
            #{userId},
            #{s3Url},
            #{itemName},
            #{date},
            #{description},
            #{favorite}
        )
    </insert>

    <!-- itemテーブルからアイテムを削除 -->
    <delete id="deleteItemById">
        DELETE FROM 
            item
        WHERE 
            itemId = #{itemId}
    </delete>

</mapper>